@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway';
  background-color: lightgray;
}

.studentsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

.scroll {
  background-color: #f1f1f1;
  overflow: auto;
  overflow-y: scroll;
  white-space: nowrap;
  margin: 20px;
  text-align: justify;
  padding: 20px;
  height: 90vh;
  border-radius: 1%;
  width: 60vw;
}

.studentImg {

  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid;


}

.studentCard {

  background: white;
  color: black;
  display: flex;
  flex-direction: row;
  width: 60vw;
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;

}

.studentInfo {
  margin-left: 5%;
}

.expanded {
  visibility: hidden;
}

.collapsed {
  visibility: visible;
  height: 50vh;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}