@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway';
  background-color: lightgray;
}

.headline {
  font-weight: 900;
  font-size: 2.3rem;
}

.studentsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

.scroll {
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  margin: 10vh 20vw 5vh 20vw;
  text-align: justify;
  padding: 20px;
  height: 80vh;
  border-radius: 1.5%;
  width: 60vw;
}

.studentImg {

  height: 120px;
  width: 120px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid;
  margin: 10%


}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.studentCard {

  background: white;
  color: black;
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-between;
  /* border: 1px solid; */
  /* justify-content: center; */
  /* align-items: center; */

}

.studentInfo {
  margin-left: 5%;
}



.collapsed {
  visibility: visible;
  height: 50vh;
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.collapsible .content {
  padding: 6px;
  background-color: white;
}

.collapsible .header {
  background-color: #dddddd;
  padding: 6px;
  cursor: pointer;
}

.searchbars {
  display: flex;
  flex-direction: column;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  height: 4vh
}

.expand {

  border: none;
  background: white;
  font-size: 3rem;
  color: gray;
  align-self: flex-start;
  margin: 2%;

}

.tagButton {
  margin: 1%
}

